@model Panda.HotelBooking.Models.FacilityType
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="bg-light">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item p-2"><a class="text-decoration-none text-success" href="#">Mastser Data Setup</a></li>
            <li class="breadcrumb-item p-2 active " aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<p class="text-secondary fw-bolder">@ViewBag.Title</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacilityTypeId" />
            <div class="form-group mb-3">
                <label asp-for="FacilityTypeName" class="control-label"></label>
                <input asp-for="FacilityTypeName" class="form-control" />
                <span asp-validation-for="FacilityTypeName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 d-flex">
                <input type="submit" value="Save" class="btn btn-success me-2" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
