<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] [DK Hotel Booking] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Panda.HotelBooking.styles.css" asp-append-version="true" />
    <link href="~/lib/jdatagrid/css/jgrid.css" rel="stylesheet" asp-append-version="true" />

    @*googel font*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow-sm mb-2">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase text-success fw-bolder" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-globe2"></i> DK Hotel Booking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-secondary text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <ul class="list-group shadow-sm">
                    <li class="list-group-item rounded-0 p-0 bg-success bg-opacity-75">
                        <span style="font-weight:600;cursor:pointer;" data-bs-toggle="collapse" data-bs-target="#master_data_setup" aria-expanded="false"  class="ms-2 text-white text-uppercase d-block mt-2"><i class="bi bi-gear"></i> Master Data Setup</span>
                        <ul id="master_data_setup" class="list-group mt-2 border-0 collapse show">
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Cities" asp-action="Index">City</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Townships" asp-action="Index">Township</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="RoomTypes" asp-action="Index">Room Type</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="BedTypes" asp-action="Index">Bed Type</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="FacilityTypes" asp-action="Index">Facility Type</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item rounded-0 p-0 bg-success bg-opacity-75">
                        <span style="font-weight:600;cursor:pointer;" data-bs-toggle="collapse" data-bs-target="#hotel_management" aria-expanded="false" class="ms-2 text-white text-uppercase d-block mt-2"><i class="bi bi-building-check"></i> Hotel Management</span>
                        <ul id="hotel_management" class="list-group mt-2 border-0 collapse show">
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Hotels" asp-action="Index">Hotels</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item rounded-0 p-0 bg-success bg-opacity-75">
                        <span style="font-weight:600;cursor:pointer;" data-bs-toggle="collapse" data-bs-target="#booking_info" aria-expanded="false" class="ms-2 text-white text-uppercase d-block mt-2"><i class="bi bi-boxes"></i> Booking Information</span>
                        <ul id="booking_info" class="list-group mt-2 border-0 collapse show">
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Registration</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Rooms</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Registration</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Rooms</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Registration</a></li>
                            <li class="list-group-item rounded-0 border-0 border-top"><a class="text-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Rooms</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <main role="main" class="pb-3 shadow-sm p-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Dk.HotelBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jdatagrid/js/jdatagrid.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
